@model LTSMerchWebApp.Models.User

<div class="sidepanel-form">
    <h3>Eliminar Usuario</h3>
    <div class="sidepanel-form-group">
        <dl class="sidepanel-details">
            <dt class="sidepanel-details-label">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="sidepanel-details-value">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="sidepanel-details-label">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="sidepanel-details-value">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="sidepanel-details-label">
                @Html.DisplayNameFor(model => model.PasswordHash)
            </dt>
            <dd class="sidepanel-details-value">
                @Html.DisplayFor(model => model.PasswordHash)
            </dd>

            <dt class="sidepanel-details-label">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="sidepanel-details-value">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt class="sidepanel-details-label">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="sidepanel-details-value">
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt class="sidepanel-details-label">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd class="sidepanel-details-value">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>

            <dt class="sidepanel-details-label">
                @Html.DisplayNameFor(model => model.RoleType)
            </dt>
            <dd class="sidepanel-details-value">
                @Html.DisplayFor(model => model.RoleType.RoleTypeId)
            </dd>
        </dl>

        <form asp-action="Delete" class="sidepanel-form-group">
            <input type="hidden" asp-for="UserId" />
            <div class="sidepanel-button-container">
                <input type="submit" value="Eliminar" class="sidepanel-submit-button sidepanel-danger-button" />
                <a asp-action="Index" class="sidepanel-link">Regresar</a>
            </div>
        </form>
    </div>
</div>
