@model IEnumerable<LTSMerchWebApp.Models.User>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<table class="generalTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleType.RoleTypeId)
                </td>
                <td>
                    <a href="javascript:void(0);" class="edit-link" data-userid="@item.UserId"><i class="fa fa-edit"></i></a> |
                    <a href="javascript:void(0);" class="details-link" data-userid="@item.UserId"><i class="fa fa-info-circle"></i></a> |
                    <a href="javascript:void(0);" class="delete-link" data-userid="@item.UserId"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="button-container">
    <button href="javascript:void(0);" class="create-link">
        AGREGAR
    </button>
</div>
<!-- Side Panel for Create Form -->
<div id="side-panel-create" class="side-panel">
    <button class="close-panel btn btn-secondary">Close</button>
    <div id="create-form-container"></div>
</div>

<!-- Side Panel for Edit Form -->
<div id="side-panel-edit" class="side-panel">
    <button class="close-panel btn btn-secondary">Close</button>
    <div id="edit-form-container"></div>
</div>

<!-- Side Panel for Details -->
<div id="side-panel-details" class="side-panel">
    <button class="close-panel btn btn-secondary">Close</button>
    <div id="details-container"></div>
</div>

<!-- Side Panel for Delete Confirmation -->
<div id="side-panel-delete" class="side-panel">
    <button class="close-panel btn btn-secondary">Close</button>
    <div id="delete-container"></div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function loadSidePanel(url, containerId, panelId) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        $(containerId).html(data);
                        $(panelId).show();
                    }
                });
            }

            $('.create-link').click(function () {
                loadSidePanel('/Users/Create', '#create-form-container', '#side-panel-create');
            });

            $('.edit-link').click(function () {
                var userId = $(this).data('userid');
                loadSidePanel('/Users/Edit/' + userId, '#edit-form-container', '#side-panel-edit');
            });

            $('.details-link').click(function () {
                var userId = $(this).data('userid');
                loadSidePanel('/Users/Details/' + userId, '#details-container', '#side-panel-details');
            });

            $('.delete-link').click(function () {
                var userId = $(this).data('userid');
                loadSidePanel('/Users/Delete/' + userId, '#delete-container', '#side-panel-delete');
            });

            $('.close-panel').click(function () {
                $(this).closest('.side-panel').hide();
                $(this).siblings('div').html('');
            });
        });
    </script>
}

