@model IEnumerable<LTSMerchWebApp.Models.ProductOption>

@{
    ViewData["Title"] = "Product Options";
}
<a asp-area="" asp-controller="Admin" asp-action="Index" class="btn btn-link">Admin</a>
<h3>ProductOptions</h3>

<table class="generalTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color.ColorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size.SizeId)
                </td>
                <td>
                    <a href="javascript:void(0);" class="edit-link" data-productoptionid="@item.ProductOptionId">Edit</a> |
                    <a href="javascript:void(0);" class="details-link" data-productoptionid="@item.ProductOptionId">Details</a> |
                    <a href="javascript:void(0);" class="delete-link" data-productoptionid="@item.ProductOptionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="button-container">
    <button href="javascript:void(0);" class="create-link">
        AGREGAR
    </button>
</div>
<!-- Side Panel for Create Form -->
<div id="side-panel-create" class="side-panel">
    <button class="close-panel btn btn-secondary">Close</button>
    <div id="create-form-container"></div>
</div>

<!-- Side Panel for Edit Form -->
<div id="side-panel-edit" class="side-panel">
    <button class="close-panel btn btn-secondary">Close</button>
    <div id="edit-form-container"></div>
</div>

<!-- Side Panel for Details -->
<div id="side-panel-details" class="side-panel">
    <button class="close-panel btn btn-secondary">Close</button>
    <div id="details-container"></div>
</div>

<!-- Side Panel for Delete Confirmation -->
<div id="side-panel-delete" class="side-panel">
    <button class="close-panel btn btn-secondary">Close</button>
    <div id="delete-container"></div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function loadSidePanel(url, containerId, panelId) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        $(containerId).html(data);
                        $(panelId).show();
                    }
                });
            }

            $('.create-link').click(function () {
                loadSidePanel('/ProductOptions/Create', '#create-form-container', '#side-panel-create');
            });

            $('.edit-link').click(function () {
                var productOptionId = $(this).data('productoptionid');
                loadSidePanel('/ProductOptions/Edit/' + productOptionId, '#edit-form-container', '#side-panel-edit');
            });

            $('.details-link').click(function () {
                var productOptionId = $(this).data('productoptionid');
                loadSidePanel('/ProductOptions/Details/' + productOptionId, '#details-container', '#side-panel-details');
            });

            $('.delete-link').click(function () {
                var productOptionId = $(this).data('productoptionid');
                loadSidePanel('/ProductOptions/Delete/' + productOptionId, '#delete-container', '#side-panel-delete');
            });

            $('.close-panel').click(function () {
                $(this).closest('.side-panel').hide();
                $(this).siblings('div').html('');
            });
        });
    </script>
}
